<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">


    <import resource="@ArtgrisFileManagerBundle/Controller" type="annotation" prefix="admin/manager">
    </import>

    <import resource="@ArtgrisMediaBundle/Resources/config/routing.yml" prefix="/admin">
    </import>

    <!-- override file manager upload bundle -->
    <route id="file_manager_upload"
           controller="aropixel_sylius_admin_media.controller.admin_file_manager:uploadFileAction"
           path="/admin/ajax-crop/"
    />

    <route id="admin_ajax_crop"
           controller="aropixel_sylius_admin_media.controller.admin_ajax_controller:ajaxCrop"
           path="/admin/manager/upload/"
    />

    <route id="aropixel_sylius_admin_media_crop_ratio"
           controller="aropixel_sylius_admin_media.controller.admin_media_crop_ratio:getCropRatio"
           path="/admin/media/crop-ratio"
    />

</routes>

